*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    color: inherit;
}


/*header*/
header{
    width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 30;
}
header .inner{
    width: 80%;
    height: 8vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
header #gnb{
    width: 30%;
}
header .navi{
    display: flex;
}
header .navi li{
    width: 30%;
}
header .navi li a{
    color: #fff;
    font-size: 14px;
    font-family: 'goorm-sans-code';
}
header .navi li a:hover{
    font-weight: bold;
}
header #logo img{
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
header .etc{
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
}
header .etc img{
    filter: invert(100%);
}
header .etc ul{
    display: flex;
}
header .etc ul li{
    margin-left: 20px;
}
header .etc ul li img{
    width: 26px;
    height: 26px;
}

header .active{
    background-color: #FEFAE0;
    border-radius: 0 0 25px 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}
header .active .navi li a{
    color: #333;
}
header .active #logo img,
header .active .etc img{
    filter: none;
}
header .deactive{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}



/*main-visual*/
#main-visual{
    width: 100%;
}
#main-visual .slide-wrap{
    width: 100%;
    height: 100vh;
}
#main-visual .slide{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#main-visual .slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#main-visual .slide .inner{
    position: absolute;
    width: 60%;
    top: 60%;
    left: 10%;
    font-family: 'Pretendard-Regular';
}
#main-visual .slide .inner h1{
    font-size: 44px;
    font-weight: 700;
}
#main-visual .slide .inner p{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;
    line-height: 30px;
}
#main-visual .slide .inner span{
    width: 130px;
    border-radius: 25px;
    padding: 10px 0;
    background-color: #344E41;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'goorm-sans-code';
}
#main-visual .text01,
#main-visual .text02{
    color: #fff;
}
#main-visual .text03{
    color: #344E41;
}



/*sect01*/
#sect01{
    background-color: #FEFAE0;
    width: 100%;
    display: flex;
    font-family: 'Pretendard-Regular';
    color: #344E41;
}
#sect01 .text-info{
    width: 25%;
    margin: auto 5% auto 10%;
    text-align: center;
}
#sect01 .text-info h1{
    font-size: 29px;
    font-weight: bold;
}
#sect01 .text-info p{
    font-size: 16.5px;
    padding-top: 20px;
    line-height: 25px;
}
#sect01 .slide-wrapper{
    width: 65%;
    margin: 150px 0 50px;
}
#sect01 .slide-wrapper .cont{
    width: 16%;
    display: inline-block;
}
#sect01 .slide-wrapper .cont img{
    width: 90%;
    height: auto;
    border-radius: 10px;
}
#sect01 .slide-wrapper .cont .info{
    width: 90%;
    margin: 10px 0 50px;
}
#sect01 .slide-wrapper .cont .info h1{
    font-size: 22px;
}
#sect01 .slide-wrapper .cont .info p{
    font-size: 14px;
    padding: 15px 0;
    line-height: 20px;
}
#sect01 .slide-wrapper .cont .info span{
    font-size: 12px;
    border: 1px solid #344E41;
    border-radius: 25px;
    padding: 5px 20px;
    cursor: pointer;
    font-family: 'goorm-sans-code';
}
#sect01 .prev,
#sect01 .next{
    cursor: pointer;
}



/*sect02*/
#sect02{
    width: 100%;
}
#sect02 .bg{
    width: 100%;
    height: auto;
    background-image: url("../img/ForteExtra.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sect02 .inner{
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
}
#sect02 .info{
    width: 30%;
    margin: auto 10%;
}
#sect02 .info h3{
    font-size: 21px;
}
#sect02 .info h1{
    font-size: 32px;
    padding: 10px 0 20px;
    font-weight: bold;
}
#sect02 .info p{
    font-size: 17px;
    line-height: 25px;
}




/*sect03*/
#sect03{
    width: 100%;
}
#sect03 .bg{
    width: 100%;
    height: auto;
    background-image: url("../img/promo-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sect03 .inner{
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sect03 .inner img{
    width: 50%;
    height: auto;
    border-radius: 15px;
}
#sect03 .inner .info{
    width: 50%;
    padding-left: 5%;
    font-family: 'Pretendard-Regular';
    color: #333;
}
#sect03 .info h2{
    font-size: 21px;
}
#sect03 .info h1{
    font-size: 32px;
    font-weight: bold;
    padding: 8px 0 15px;
}
#sect03 .info h3{
    font-size: 17px;
    line-height: 30px;
}
#sect03 .info h5{
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
}
#sect03 .info span{
    width: 130px;
    border-radius: 25px;
    padding: 10px 0;
    background-color: #FEFAE0;
    color: #333;
    display: block;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'goorm-sans-code';
}



/*sect04*/
#sect04{
    width: 100%;
    background-color: #E9EDC9;
}
#sect04 .inner{
    width: 80%;
    margin: auto;
}
#sect04 .inner>h1{
    font-size: 32px;
    text-align: center;
    padding: 100px 0 50px;
    font-family: 'Pretendard-Regular';
}
#sect04 .tab {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#sect04 .tab__item {
    padding: 10px 20px;
    border: 1px solid #344E41;
    border-radius: 25px;
}
#sect04 .tab__item a{
    font-family: 'goorm-sans-code';
    font-size: 15px;
}
#sect04 .tab__item.active {
    display: inline-block;
    background-color: #344E41;
    color: #FEFAE0;
}



/*tab__content-wrapper*/
#sect04 .tab__content {
    display: none;
}
#sect04 .tab__content.active {
    display: block;
}
#sect04 .tab__content-wrapper{
    width: 100%;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
}
#sect04 .cont_wrap{
    width: 100%;
    margin: auto;
}
#sect04 .cont_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}
#sect04 .box{
    width: 20%;
    font-size: 0;
}
#sect04 .box img{
    width: 80%;
    height: auto;
}
#sect04 .box-text{
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    cursor: pointer;
}
#sect04 .box-text>h1,
#sect04 .box-text h3{
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #344E41;
    padding: 3px 5px;
}

/*tab3*/
#sect04 .tab3-box{
    width: 50%;
    margin: auto;
}
#sect04 .tab3-box p{
    font-size: 22px;
    padding-bottom: 30px;
}
#sect04 .tab3-box .search{
    width: 70%;
    height: 50px;
    margin: auto;
    border: 1px solid #dedede;
    background-color: #fff;
    border-radius: 25px;
    cursor: text;
}
#sect04 .tab3-box .search img{
    width: 30px;
    height: 30px;
    float: right;
    margin: 8px 15px;
}
#sect04 .tab3-box p{
    font-family: 'Pretendard-Regular';
    font-size: 22px;
}



/*sect05*/
#sect05{
    width: 100%;
}
#sect05 .bg{
    width: 100%;
    height: auto;
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sect05 .inner{
    width: 100%;
    padding: 100px 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sect05 .info{
    width: 100%;
    margin: auto;
    color: #344E41;
    font-family: 'Pretendard-Regular';
}
#sect05 .info h1{
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 10px;
}
#sect05 .info p{
    font-size: 17px;
    line-height: 25px;
}



/*footer*/
footer{
    width: 100%;
    background-color: #344E41;
    color: #fff;
}
footer .inner{
    width: 80%;
    margin: auto;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: 'goorm-sans-code';
}
footer .foot-nav{
    width: 50%;
    text-align: center;
}
footer .foot-nav>ul{
    display: flex;
}
footer .foot-nav>ul>li{
    padding-right: 15%;
}
footer .foot-nav>ul>li>a{
    font-weight: bold;
    padding-bottom: 10px;
}
footer .foot-nav .submenu{
    line-height: 20px;
}
footer .foot-info{
    width: 50%;
    text-align: right;
    padding-top: 4%;
    line-height: 20px;
}





/*ham*/
html.open {
    overflow: hidden;
}
  
#menu.open {
    left: 0px;
}
  
.page_cover.open {
    display: block;
}
  
.btn {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-image: url("../img/btn.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
}
  
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20%;
    top: 22px;
    background-image: url("../img/close.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
  
#menu {   
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -400px;
    z-index: 100;
    background-color: #FEFAE0;
    transition: All 0.3s ease;
    padding-top: 50px;
}
  
#menu a{
   padding: 10px 0px;
   font-size: 13px;
   color: #344E41;
   line-height:50px;
   text-indent:35px;
   text-align: left;
   font-weight:bold; 
}
  
#menu.open {
    left: 0px;
}
  
.page_cover.open {
    display: block;
}
  
#menu ul { 
    width:150px; 
    margin:30px 0; 
}
      
#menu a:hover {
    background:#E9EDC9;
}
